* {
    box-sizing: border-box;
}

body {
    background: url("/img/general-panel.jpg");
}

header {
    background: radial-gradient(circle, rgba(42, 155, 51, 0.579) 50%, rgba(9,9,121,0.01) 100%);
    color: white;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav button {
    background: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-weight: bold;
    height: 30px;
    margin: 10px 0px 20px 0px;
    text-transform: uppercase;;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 10px;
}

.cow-data {
    background-color:rgb(255, 255, 255);
    display: inline-block;
    padding: 10px;
    border-radius: 5px; 
    font-weight: bold;
}

.cow-data h2 {
    color:rgb(255, 255, 255);
    background:rgba(42, 155, 51, 0.833);
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    margin-bottom: 5px;
}

.cow-data p span {
    color:rgb(255, 255, 255);
    background:rgba(42, 155, 51, 0.833);
    border-radius: 5px;
    font-size: 19px;
    padding: 0px 10px;
    margin: 0px 5px;
}

.cow-data p {
    margin-bottom: 5px;
}

.attention {
    background: yellow;
    padding: 5px;
}

button {
    background:rgba(42, 155, 51, 0.833);
    color: white;
    border: 1px solid rgba(42, 155, 51, 0.833);
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;
}

button:hover {
    background: black;
    color: white;
}

button:active {
    background: white;
    color: black;
}

footer {
    background:rgba(42, 155, 51, 0.579);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}