* {
    box-sizing: border-box;
}

body {
    background: url("190787.jpg");
}

header {
    background: radial-gradient(circle, rgba(246, 187, 78, 0.867) 50%, rgba(9,9,121,0.01) 100%);
    font-size: 60px;
    margin: 10px 0px 50px 0px;
    text-align: center;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

section a {
    background: rgba(246, 187, 78, 0.867);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    width: 27%;
    height: 300px;
}

section a:hover {
    cursor: pointer;
    transition: all 0.1s ease-in;
    transform: scale(1.05);
}

section a:visited {
    color: black;
    text-decoration: none;
}

h2 {
    font-size: 40px;
    font-weight: 1000;
    text-align: center;
    text-transform: upperCase;
    margin-bottom: 50px;
}

p {
    font-size: 25px;
    font-weight: 700;
    width: 50%;
    margin: 0 auto;
}

footer {
    background: radial-gradient(circle, 
    rgba(246, 187, 78, 0.867) 6%, rgba(9,9,121,0.01) 100%);
    margin-top: 207px;
    padding: 2px;
    text-align: center;
}