* {
    box-sizing: border-box;
}

body {
    background: url(edit-info.jpg);
}

header {
    background: radial-gradient(circle, rgba(42, 155, 51, 0.579) 50%, rgba(9,9,121,0.01) 100%);
    color: white;
    margin-bottom: 30px;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

section div {
    background: rgba(19, 106, 28, 0.518);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 40%;
    height: 500px;
}

section div h2{
    font-size: 33px;
    margin: 10px 0px 30px 0px;
    text-transform: uppercase;
}

section div p{
    display: flex;
    align-items: center;
    font-size: 25px;
    line-height: 35px;
    text-align: left;
    text-transform: uppercase;
    margin-left: 20px;
}

.id-cow {
    width: 40px;
    height: 20px;
}

button {
    background: rgb(45, 134, 54);
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    text-transform: uppercase;
}

button:hover {
    background: white;
    border: 2px solid rgb(45, 134, 54);
    color:rgb(45, 134, 54);
}

button:active {
    background: rgb(45, 134, 54);
    border: 2px solid white;
    color: white;
}

footer {   
    background: radial-gradient(circle, rgba(42, 155, 51, 0.579) 50%, rgba(9,9,121,0.01) 100%);
    color: white;
    font-size: 20px;
    margin-top: 46px;
    text-align: center;
}