* {
    box-sizing: border-box;
}

body {
    background: url("diseases-panel.jpg");
}

header {
    background: radial-gradient(circle, rgba(42, 155, 51, 0.579) 50%, rgba(9,9,121,0.01) 100%);
    color: white;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav button {
    background: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-weight: bold;
    height: 30px;
    margin: 5px 0px 20px 0px;
}