* {
    box-sizing: border-box;
}

body {
    background: url(edit-info.jpg);
}

header {
    background: radial-gradient(circle, rgba(42, 155, 51, 0.579) 50%, rgba(9,9,121,0.01) 100%);
    color: white;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav button {
    background: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-weight: bold;
    height: 30px;
    margin: 5px 0px 20px 0px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

section div {
    background:rgba(255, 255, 255, 0.689);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
    width: 40%;
    height: 520px;
}

section div h2{
    font-size: 33px;
    margin: 10px 0px 30px 0px;
    text-transform: uppercase;
}

section div p{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    font-size: 25px;
    line-height: 32px;
    text-align: left;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px;
}

input {
    text-align: center;
}

.id-cow {
    width: 40px;
    height: 20px;
}

.last-of {
    margin-bottom: 20px;
}

section button {
    background: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 80%;  
    height: 25px;
}

button:hover {
    background: rgb(0, 0, 0);
    color:white;
}

button:active {
    background: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}

footer {   
    background: radial-gradient(circle, rgba(42, 155, 51, 0.579) 50%, rgba(9,9,121,0.01) 100%);
    color: white;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}